/*    PO     */ 

#img_po {
  position: absolute;
  top: 15px;
  left: 40px;
  width:240px;
  height:240px;
}

#cover_detail1_table {
  top: 30px;
  right: 300px;
  font-size: 25px;
  position: absolute;
}
#cover_detail2_table {
  top: 60px;
  right: 240px;
  font-size: 22px;
  position: absolute;
}
#cover_detail3_table {
  top: 90px;
  right: 300px;
  font-size: 22px;
  position: absolute;
}

#title_table {
  position: absolute;
  top: 130px;
  left: 46%;
}

#store_ID_table {
  position: absolute;
  top: 150px;
  right: 35px;
  padding: 0px;
}

#store_table {
  position: absolute;
  top: 190px;
  border: 1px solid black;
  padding: 20px;
  left: 20px;
  right: 20px;
}
#table_store {
  border-collapse: collapse;
  width: 100%;
}

#product_table {
  position: absolute;
  top: 400px;
  left: 20px;
  right: 20px;
}
#table_product {
  width: 100%;
}
tbody tr td{
  text-align: center;
}
tbody th {
  height: 30px;
}
tbody td {
  height: 30px;
}
#table_product,#table_product tr,#table_product td , #table_product th {
  border: 1px solid black;
  border-collapse: collapse;
}

#signature_1 {
  text-align: center;
  position: absolute;
  top: 880px;
  right: 250px;
  bottom: 20px;
}
#signature_2 {
  text-align: center;
  position: absolute;
  top: 880px;
  right: 10px;
  bottom: 20px;
}
#contrator {
  text-align: center;
  position: absolute;
  top: 880px;
  left: 40px;
  bottom: 20px;
}

#signature_contractor_po_img {
  width: 200px;
  height: 90px;
}

#signature_contractor_PO {
  text-align: center;
  position: absolute;
  left: 40px;
  bottom: 5px;
}

#signature_master1_po_img {
  width: 200px;
  height: 90px;
}

#signature_master1_PO {
  text-align: center;
  position: absolute;
  right: 280px;
  bottom: 20px;
}

#signature_master2_po_img {
  width: 200px;
  height: 90px;
}

#signature_master2_PO {
  text-align: center;
  position: absolute;
  right: 40px;
  bottom: 20px;
}
/*-------------------------------------------------*/

/* PDF pr */

#img_pr {
  position: absolute;
  top: 15px;
  left: 40px;
  width:240px;
  height:240px;
}

#store_detail1_table {
  top: 35px;
  right: 300px;
  font-size: 25px;
  position: absolute;
}
#store_detail2_table {
  top: 65px;
  right: 200px;
  font-size: 22px;
  position: absolute;
}
#store_detail3_table {
  top: 95px;
  right: 305px;
  font-size: 22px;
  position: absolute;
}

#pr_ID {
  position: absolute;
  top: 150px;
  right: 35px;
}

#data_information {
  position: absolute;
  top: 190px;
  width: 83%;
  left: 20px;
}
#tableexa {
  border-collapse: collapse;
  width: 100%;
  left: 10px;
}


#product {
  position: absolute;
  top: 320px;
  left: 20px;
  right: 20px;
}
#table_product,#table_product tr,#table_product td , #table_product th {
  border: 1px solid black;
  border-collapse: collapse;
}

#signature_contractor_pr_img {
  width: 232px;
  height: 102px;
}

#signature_contractor_PR {
  text-align: center;
  position: absolute;
  left: 40px;
  bottom: 20px;
}

#signature_master1_pr_img {
  width: 232px;
  height: 102px;
}

#signature_master1_PR {
  text-align: center;
  position: absolute;
  right: 280px;
  bottom: 20px;
}

#signature_master2_pr_img {
  width: 232px;
  height: 102px;
}

#signature_master2_PR {
  text-align: center;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

/* pr */
#data_intormation {
  text-align: right !important;
  width: 100%;
  padding: 15px;
  left: 0;
  font-size: 18px;
}

#data_intormation tr,
#data_intormation th,
#data_intormation td,
#data_intormation table {
  text-align: left !important;
}

/*----- contractor pdf -------*/
/*   information   */

#heading {
  position: relative;
  text-align: center;
  top: 0px;
}

#tabletop {
  position: absolute;
  right: 0;
  top: 20px;
  padding-top: 130px;
  padding-right: 40px;
}

#exporta_contractor {
  position: absolute;
  left: 50px;
  top: 100px;
  padding-top: 130px;
  padding-right: 40px;
}
#tableexa_contractor {
  position: absolute;
  width: 90%;
}

/*   MENU DETAIL    */
#table_imformation_contractor {
  position: absolute;
  top: 340px;
  left: 80px;
}
#exportb {
  position: absolute;
  width: 95%;
}
#no_exb {
  width: 5%;
}
#detail_exb {
  width: 60%;
}
#num_exb {
  width: 15%;
}
#unit_exb {
  width: 15%;
}

#exportb,
#exportb tr,
#exportb td,
#exportb th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 5px;
}

/* signature contractor */
/* Signature */

#signature_contractor {
  position: absolute;
  text-align: center;
  right: 40px;
  bottom: 20px;
}

#signatureimg_contractor {
  width: 232px;
  height: 102px;
}
